__pycache__/
*.pyc

telegrambot/config.json
telegrambot/allowed_users.txt
telegrambot/bot.log
telegrambot/cookies.txt
telegrambot/threads_cookies.txt
telegrambot/facebook_cookies.txt
bot/config.php
combined_bot.log
